.feed {
  flex: 1;
  margin-top: 70px;
  padding: 30px 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media only screen and (max-width: 600px) {
  .feed {
    padding: 30px 0px
  }
}
