* {
  margin: 0;
  padding: 0;
}

.header{
    display: flex;
 padding: 15px 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  background: rgba(255, 255, 255, 0.76);
  width: 97.3%;
  z-index: 1;
  box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);

}
.header__left{
    cursor: pointer;
}
.header__middle{
    display: flex;
}

.header__option{
    padding: 10px 40px;
    font-size: 3em;
    cursor: pointer;
    display: flex;
    align-items: center;


}
.header__option:hover {
  background: #f1eaea;
  border-radius: 10px;
  align-items: center;
}
.header__option .MuiSvgIcon-root {
  color: rgb(163, 163, 163);
      transition: .3s;
}
.header__option:hover .MuiSvgIcon-root {
  color: #7917a7;

}
.header__option--active {
  border-bottom: 4px solid #2e81f4;
}
.header__option--active .MuiSvgIcon-root {
  color: #2e81f4;
}


.header__right{
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 600px) {
  .header {
    padding: 15px 20px;
    justify-content:space-evenly;
  }
  .header__left{
      display: none;
  }
  .header__option{
      padding: 0px 20px
  }
}