/* *{
    outline: 1px solid red;
} */

.post {
  width: 100%;
  margin-top: 15px;
  border-radius: 15px;
  background: #fff;
  box-sizing: 0px 5px 7px -7px rgba(0, 0, 0, 0.75);

}
.post__top {
  display: flex;
  position: relative;
  align-items: center;
  padding: 15px;
  justify-content: space-between;
}
.post__top__left{
  display: flex;
}

.post__top__right{
  border-radius: 50%;
width: 50px;
height: 50px;
display: flex;
justify-content: center;
align-items: center;
transition: ease-in-out .2s;

}
.post__top__right:hover{
   background-color: #eff2f5;
transition: ease-in-out .2s;

}
.post__top__right .MuiSvgIcon-root {
padding: 10px;

}
.post__avatar {

  object-fit: contain;
}
.post__topInfo h3 {
  margin-left: 10px;
  font-size: medium;
}
.post__topInfo p {
  margin-left: 10px;
  font-size: small;
  color: #777;
}
.post__image img {
  width: 100%;
}
.post__bottom {
  margin: 10px 0;
  padding: 15px 20px;
}
.post__options {
  font-size: 18px;
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-evenly;
  font-size: medium;
  color: #666;
  cursor: pointer;
  padding: 15px;
}
.post__option {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  flex: 1;
  transition: 0.5s;
}
.post__option p {
  margin-left: 18px;
}
.post__option:hover {
  background: #eff2f5;
  border-radius: 5px;
}
